[user]
	name = Ardo Illaste
	email = ardo.illaste@gmail.com
[core]
	editor = vim
	autocrlf = input
[push]
	default = simple
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
[pull]
	rebase = true

